* {
  margin: 0;
}

/* HEADER */
.nav-bar {
  width: 100%;
  height: auto;
  background-color: #333;
}

.content {
  width: 80%;
  height: auto;
}

.header{
  display: flex;
  justify-content: center;
}

.logo {
  width: 120px;
  height: 100px;
}
/*  */