* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section{
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}

p {
  color: #B5B1B1;
}

/* HEADER */
.nav-bar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-bar ul {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.nav-bar a {
  font-size: clamp(0.2rem, 2vw, 1rem);
  padding: 5px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #858484;
}
/* .nav-bar a:hover {
  transition: 100ms ease-out;
  border-bottom: 3px solid #194357;
} */
.nav-bar li:nth-child(1) a {
  border-bottom: 3px solid #ff0000;
}
.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  width: 80%;
  height: auto;
  
}
.container-logo {
  margin: 1em;
}
.logo {
  max-width: 120px;
  max-height: 80px;
}

.school-image {
  max-width: 100%;
  max-height: 400px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: blue;
}

.section-one{
  height: 100vh;
}

.section-one .container-home-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.section-one .container-home-wrapper .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: brown;
}

.section-one .container-home-wrapper .row .col {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.section-one .container-home-wrapper .row .col:last-child{
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: burlywood;
}

.section-one .container-home-wrapper .row .col .title-home .hat-title {
  max-width: 100%;
}
.section-one .container-home-wrapper .row .col p {
  font-size: clamp(0.2rem, 2vw, 1.6rem);
}
