/* ------------ todo  ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  height: auto;
}

/* ------------ header ----------- */
header {
  background: #f9f9f9;
  z-index: 999;
  width: 100%;
  position: fixed;
}

/* ------------ menu ----------- */

nav {
  height: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 80px;
  height: 80px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  color: #333;
  padding: 7px 13px;
  border-radius: 3px;
}

a:active,
a:hover {
  transition: 0.5s;
  color: #ff6a6a;
}

.checkbtn {
  float: right;
  line-height: 80px;
  width: 30px;
  cursor: pointer;
  display: none;
}

.content-logo {
  cursor: pointer;
}

#check,
#home {
  display: none;
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2780ac;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    opacity: 0.9;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
    color: #ccc;
  }

  a:hover,
  a:active {
    background: none;
    color: #fff;
  }

  .logo {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

/* ------------ images ----------- */
.container-logo {
  margin: 1em;
}
.logo {
  max-width: 120px;
  max-height: 80px;
}

.school-image {
  max-width: 100%;
  max-height: 400px;
  min-width: 160px;
  margin: 1rem;
}

.title-image {
  max-width: 100%;
}

/* ------------ Cards ----------- */

.card {
  width: 100%;
  height: auto;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 5px 2px #cccc;
  -webkit-box-shadow: 2px 5px 2px #cccc;
  -moz-box-shadow: 2px 2px 2px #cccccc;
  background-color: #fff;
}

/* -------- row and columns alinhamentos ----------- */
.row {
  display: flex;
  flex-direction: row;
}

.row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row-vertical-align {
  display: flex;
  align-items: center;
}

.row-horizontal-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.row-horizontal-space-between {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  flex-wrap: wrap;
  transition: 0.5s;
}

.col {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------- */

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #2989b7;
  font-size: 2rem;
}

/* ------------ svgs icons ----------- */
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #ff6a6a;
}

.icon2-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.icon-card {
  width: 60%;
}

/* borders */

.linear-border {
  width: 100%;
  height: 0.08rem;
  background-color: #fff;
}

/* Estilização dos alinhamentos */

.size {
  max-width: 420px;
  max-height: 240px;
}

.spacing {
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

/* Estilização dos textos */

.content-title {
  display: flex;
  justify-content: center;
}

.content-title h2 {
  text-transform: uppercase;
  margin-top: 1.2rem;
}

.justify {
  text-align: justify;
}

.text {
  letter-spacing: normal;
  line-height: 2.2rem;
  text-indent: 1.5rem;
  text-align: justify;
}

.paragraph {
  margin-left: 3.2rem;
  margin-top: 0;
  letter-spacing: normal;
  line-height: 2rem;
  text-align: justify;
}

.normal-text {
  letter-spacing: normal;
}

.thin-text {
  font-weight: lighter;
}

.bold-text {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.color-light {
  color: #fff;
}

.color-dark {
  color: #666363;
}

.color-title {
  color: #194357;
}

.color-default {
  color: #b5b1b1;
}

.color-default-light {
  color: #cecece;
}

.size1 {
  font-size: 60px;
}

.size2 {
  font-size: clamp(2rem, 2vw, 4rem);
}

.size3 {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.size4 {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
}

.size5 {
  font-size: clamp(0.9rem, 2vw, 1rem);
}
section {
  scroll-snap-align: end none;
}

.section-one,
.section-two,
.section-three,
.section-four,
.section-five {
  position: relative !important;
  align-items: center;
  scroll-margin-top: 80px;
}

/* ------------ Seção 1 ----------- */

.section-one {
  height: 100%;
  min-height: 840px;
}

.section-one .col {
  max-width: 480px;
  min-width: 240px;
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  background-color: #117caf;
  margin-top: 2.6rem;
  padding: 0.9rem 2rem;
  justify-content: center;
  border-radius: 0.4rem;
}

.button:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #0a4a69;
}

/* ------------ Seção 2 ----------- */

.section-two {
  background-color: #f0f0f0;
}
.section-two .row-center {
  justify-content: space-evenly;
}
.section-two .card {
  height: auto;
  margin: 0;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin-top: 2.6rem;
  margin-bottom: 2.6rem;
}
.section-two .row {
  justify-content: space-evenly;
}
.section-two .col {
  max-width: 400px;
  width: 100%;
}
.section-two p {
  width: 100%;
  text-align: center;
}
.section-two .content-title {
  margin-top: 0.4rem;
}

.section-two .card .row .col {
  max-width: 140px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.section-two .circle {
  margin: 1.2rem;
}
/* ------------ Seção 4 ----------- */

.section-four {
  background-color: #f5f5f5;
}

.section-four .card {
  min-height: 280px;
  max-height: 480px;
  padding-top: 0;
  margin: 1.2rem;
}

/* ------------ Seção 5 ----------- */

.section-five {
  background-color: #2780ac;
}

.section-five .col {
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}

.safe-col {
  display: flex;
  justify-content: center;
  max-width: 340px;
  width: 100%;
}

.section-five .safe-col {
  margin: 2rem;
}
.section-five .content-title {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section-five .normal-text {
  line-height: 2rem;
}

.section-five .row .col {
  width: 100%;
  align-items: flex-start;
}

.section-five .row {
  padding-bottom: 5rem;
}

.section-five .circle {
  background-color: #fff;
  margin: 2rem;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

/* ------------ footer section ----------- */

.footer-section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.footer-section .content {
  position: relative;
  margin: 6rem;
}

.footer-section img {
  width: 40%;
  max-width: 340px;
}

.footer-section .col {
  max-width: 400px;
  max-height: 240px;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
}

.footer-section .row-horizontal-space-between {
  justify-content: center;
}

.footer-section .linear-border {
  background-color: #cccccc;
  height: 0.8px;
}

.footerInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  min-width: 240px;
}

.footerInfo p {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}

.footerInfo img {
  margin: 0.4rem;
  width: auto;
}

.align-bar {
  margin-top: 20%;
}

/* ------------ slider ----------- */

.section-carousel {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
}
.mask {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
#carousel {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
}

#carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: opacity 800ms ease-out;
}

#carousel img.selected {
  opacity: 1;
}

.buttonLeft {
  top: 50%;
  position: absolute;
  z-index: 99;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.buttonRight {
  top: 50%;
  position: absolute;
  z-index: 99;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.buttonLeft:active {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.1s;
}

.buttonRight:active {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.1s;
}

.buttonRight img {
  max-width: 80px;
  width: 60%;
}

.buttonLeft img {
  max-width: 80px;
  width: 60%;
}
#contentIndicators {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: row;
  bottom: 4%;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0.6rem;
}

#contentIndicators div.actived {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #2989b7;
  transition: 0.5s;
}
